---
import MenuAuth from './MenuAuth.vue';

const desktopClass = 'hover:text-indigo-500';

const prefix = import.meta.env.PUBLIC_ADMIN_PREFIX;
---

<header class="bg-gray-100 shadow-md">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
    <!-- Logo -->
    <a href={`${prefix}/`}>
      <div
        class="text-2xl font-bold bg-gradient-to-r from-indigo-500 to-purple-500 bg-clip-text text-transparent"
      >
        MySite
      </div>
    </a>

    <!-- Desktop Menu -->
    <nav class="flex space-x-8 text-gray-700 font-medium">
      <a href={`${prefix}/`} class={desktopClass}>Home</a>
      <a href={`${prefix}/user/users`} class={desktopClass}>User</a>
      <span>
        <MenuAuth client:load elementClass={desktopClass} />
      </span>
    </nav>
  </div>
</header>
